// hello
html, body {
	width: 100%;
	height: 100%;
	position: relative;
	h1 {
		color: blue;
		padding-top: 50px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: url('../images/hi.jpg') no-repeat;
	}
}

body {
	background: url('../images/banner_ai.jpg') no-repeat;
}
